<ul class="tab-primary">
  <li role="presentation" class="<%= 'active' if selected_item == '發表的文章' %>">
    <%= link_to("發表的文章", posts_user_path) %>
  </li>
  <li role="presentation" class="<%= 'active' if selected_item == '回覆的內容' %>">
    <%= link_to("回覆的內容", comments_user_path) %>
  </li>
  <% if @user == current_user %>
  <li role="presentation" class="<%= 'active' if selected_item == '收藏的文章' %>">
    <%= link_to("收藏的文章", collects_user_path) %>
  </li>
  <li role="presentation" class="<%= 'active' if selected_item == '我的草稿' %>">
    <%= link_to("我的草稿", drafts_user_path) %>
  </li>
  <li role="presentation" class="<%= 'active' if selected_item == '好友清單' %>">
    <%= link_to("好友清單", friends_user_path) %>
  </li>
  <% end %>
  
</ul>
