<div class="container">
  <div class="row">
    <div class="col-md-3 col-sm-4">
      <div class="text-center">
        <% if @user.avatar? %>
          <%= image_tag @user.avatar, class: "img-responsive img-rounded", width: 350, height: 350 %>
        <% else %>
          <img src="http://via.placeholder.com/350x350" class="img-responsive img-rounded">
        <% end %>
        
        <% if not current_user == @user %>
          <br>
          <% if current_user.friend?(@user) %>

          <% elsif current_user.request_friend?(@user) %>
            <%= link_to '取消好友邀請', friendship_path(@user), method: :delete, class: "btn btn-link" %>
          <% elsif current_user.want_to_you?(@user) %>
            <%= link_to '接受好友邀請', friendships_path(friend_id: @user), method: :post,class: "btn btn-primary" %>
          <% else %>
            <%= link_to '送出好友邀請', friendships_path(friend_id: @user), method: :post,class: "btn btn-primary" %>
          <% end %>

        <% end %>
      
      </div>
    </div>

    <div class="col-md-9 col-sm-8">
      <h2><%= @user.name %></h2>
      <p><strong><%= @user.email %></strong></p>
      <div><%= simple_format @user.intro %></div>
      <% if @user.id == current_user.id %>
        <%= link_to 'Edit Profile', edit_user_path(@user), class: "btn btn-primary" %>
      <% end %>
    </div>
    <br>

  </div>
</div>