<%= render "users/aaa/user_info" %>

<div class="container">
  <div class="row">
  
    <%= render "users/aaa/tabbar", selected_item: "回覆的內容" %>
    
    <table class="table">
      <thead>
        <tr>
          <th>標題</th>
          <th>作者</th>
          <th>回覆時間</th>
          <th>回覆內容</th>
          <% if current_user == @user %>
            <th>功能</th>
          <% end %>
        </tr>        
      </thead>
      <tbody>
        <% @comments.each do |comment| %>
          <tr>
            <td><%= link_to comment.post.title, post_path(comment.post.id) %></td>
            <td><%= link_to comment.post.user.name, user_path(comment.post.user) %></td>
            <td><%= comment.created_at.to_s[0..15] %></td>
            <td><%= truncate(comment.content, length: 60) %></td>
            <td class="btn-control-group">
              <% if current_user == @user %>
                <%= link_to "編輯", edit_post_comment_path(comment.post, comment), class: "btn btn-info btn-xs", remote: true %> 
                <%= link_to "刪除", post_comment_path(comment.post, comment), class: "btn btn-danger btn-xs", method: :delete, data: { confirm: "Are you sure" } %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    
    
  </div>
</div>
