<div class="container">
  <div class="row">
    <h1>新增文章</h1>
    <% if @post.errors.any? %>
      <h3>喔喔，有出錯喔！請檢查看看</h3>
      <ul>
        <% @post.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    <% end %>

    <%= form_for @post do |f| %>

      <div class="form-group">
      <%= f.label :image, "Photo" %>
      <%= image_tag @post.image.url, width: '300px' if @post.image? %>
      <%= f.file_field :image %> 
      </div>

      <div class="form-group">
        <%= f.label :title, "文章標題" %>
        <%= f.text_field :title , class: 'form-control'%>
      </div>

      <div class="form-group">
        <%= f.label :content, "文章內容" %>
        <%= f.text_area :content , class: 'form-control'%>  
      </div>
      
      <div class="form-group">
        <%= f.collection_check_boxes(:category_ids, Category.all, :id ,:name) do |category| %>
          <%= category.check_box %> <%= category.label%> &nbsp;
        <% end %> 
      </div>
      
      <%= f.submit "暫存成草稿", class: "btn btn-primary" %>
      <%= f.submit "新增", class: "btn btn-primary" %>
    <% end %>
  <div class="row">
<div class="container">
