<div class="container">
  <div class="row">
  <%= image_tag @post.image, width: '600px' %>
  <br>  
  標題：<%= @post.title %>
  
  <%= render "posts/aaa/btn_favorite", x: @post %>
  
  <br>
  內容：<%= @post.content %>
  <br>
  作者：<%= link_to @post.user.name, user_path(@post.user) %>
     
  <%= render "aaa/btn_friend", x: @post.user %>
      
  <p class="text-muted">
    <em><%= time_ago_in_words(@post.created_at) %> ago</em>
    <% if current_user.id == @post.user.id %>
      <em> - </em>
      <%= link_to "編輯", edit_post_path(@post), method: :get %> | 
      <%= link_to "刪除", post_path(@post), method: :delete %>
    <% end %>
  </p>
  
  <hr>
 </div>
</div>


<div class="container">
  <div class="row">
  
  <!-- 顯示與相關的評論 -->
  <% if params[:page] %>
    <% i = params[:page].to_i * 10 + 1 %>
  <% else %>
    <% i = 1 %>
  <% end %>
  <% @comments.each do |comment| %> 
    <div>
      <h4>#<%= i %> <%= link_to comment.user.name, user_path(comment.user) %> <span><%= render "aaa/btn_friend", x: comment.user %></span></h4>
        
      <p><%= simple_format comment.content %></p>
      <p class="text-muted">
        <em><%= time_ago_in_words(comment.created_at) %> ago</em>
        <% if current_user.id == comment.user.id %>
          <em> - </em>
          <%= link_to "編輯", edit_post_comment_path(@post, comment), remote: true %> | 
          <%= link_to "刪除", post_comment_path(@post, comment), method: :delete %>
        <% end %>
      </p>
    </div>
    <hr>
    <% i = i + 1 %>
  <% end %>

  <%= paginate @comments %> 

  <%= form_for [@post, @comment] do |f| %>
    <div class="form-group">
      <%= f.text_area :content, placeholder: "留個言吧", class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.submit "留言", class: "btn btn-primary" %>
      <%= f.button "清空", type: :reset, class: "btn btn-default" %>
    </div>
  <% end %>
  </div>
</div>
