<div class="container">
  <div class="row">
    <div class="col-md-12">
      
      <div class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          排序方式 > 
        </button>
        <div class="dropdown-menu">
          <div><%= link_to "文章編號", category_path(id: @category.id), class: 'dropdown-item' %></div>
          <div><%= link_to "最後回覆時間", category_path(id: @category.id, tag: 'last_comment_time'), class: 'dropdown-item' %></div>
          <div><%= link_to "回覆總數", category_path(id: @category.id, tag: 'comments_count'), class: 'dropdown-item' %></div>
        </div>
      </div>
      <%= "文章編號" if @order_tag == nil %>
      <%= "最後回覆時間" if @order_tag == "last_comment_time" %>
      <%= "回覆總數" if @order_tag == "comments_count" %>
      
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <ul class="tab-primary">
        <li  role="presentation"><%= link_to "全部文章", root_path %></li>
        <% @categories.each do |category| %>
        <li role="presentation" class="<%= "active" if category.id == @category.id %>">
          <%= link_to category.name, category_path(category) %>
        </li>
        <% end %>
      </ul>
      <br>

      <table class="table">
      <thead>
        <tr>
          <th>回覆總數</th>
          <th>標題</th>
          <th>作者</th>
          <th>最後回覆日期</th>
          <th>瀏覽人數</th>
        </tr>
      </thead>
      <tbody>          
        <% @posts.each do |post| %>
          <tr>         
            <td><%= post.comments_count %></td>
            <td><%= link_to post.title, post_path(post.id) %></td>
            <td><%= link_to post.user.name, user_path(post.user) %></td>
            <td><%= post.last_comment_time %></td>
            <td><%= post.impressionist_count %></td>
          </tr>
        <% end %>
      </tbody>
    </table>  

    <%= paginate @posts %>  
   
    </div>

  </div>
</div>