<!DOCTYPE html>
<html>
  <%= render "layouts/html_head", x: "Dojo" %>

  <body>
    <%= render "layouts/navbar", x: "Dojo" %>
    <%= render "layouts/alert" %>
    <%= render "layouts/notice" %>
    <%= yield %>
  </body>
</html>
